.toolbox-images {

  img {

    margin: 1rem;

    &.toolbox-4 {
      margin-top: 0 !important;
    }

    &.toolbox-5 {
      margin-top: 0 !important;
    }

    filter: grayscale(0.1);

    &:hover {
      filter: grayscale(0.5);
      cursor: pointer;
    }
  }

  &--small img {
    margin: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
}

