//https://getbootstrap.com/docs/4.0/getting-started/theming/

@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Lato:400");

body {
  color: $dark;
  background-color: $light;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h2 {
  color: $success;
  //font-size: large;
}

h3 {
  color: $success;
  font-style: italic;
  //font-size: medium;
}

//.container {
//  max-width: 960px;
//}

.text-container {
  width: 600px !important;
  max-width: 600px !important;
}
