//https://getbootstrap.com/docs/4.0/getting-started/theming/

@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Lato:400");

body {
  color: $dark;
  background-color: $white;
}

html {
  //font-size: 14px;
}

@media (min-width: 768px) {
  html {
    //font-size: 16px;
  }

  body {
    background-color: $light;
  }
}

h2 {
  color: $success;
  //font-size: large;
}

h3 {
  color: $success;
  font-style: italic;
  //font-size: medium;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100% !important;

  &-router {
    min-height: 400px;
    border-radius: 0 !important;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px !important;
    max-width: 720px !important;

    &-router {
      border-radius: 15px !important;
    }
  }

}
@media (min-width: 992px) {
  .container {
    width: 960px !important;
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px !important;
    max-width: 1140px !important;
  }

}

.text-container {
  width: 100% !important;
  max-width: 100% !important;
}

@media (min-width: 768px) {
  .text-container {
    width: 600px !important;
    max-width: 600px !important;
  }

}
@media (min-width: 992px) {
  .text-container {
    width: 600px !important;
    max-width: 600px !important;
  }
}

@media (min-width: 1200px) {
  .text-container {
    width: 600px !important;
    max-width: 600px !important;
  }

}

.side-menu {
  left: 0;
  top: 0;
  width: 150px;
  font-size: smaller;
}

.side-menu li {
  line-height: 20px;
  margin-bottom: 5px;
}

.side-menu li:hover {
  cursor: pointer;
  color: black;
}

