@import '~src/variables';
@import '~bootstrap/scss/functions';

a.menu-item {
  display: inline-block;
  white-space: nowrap;

  @media (min-width: 768px) {
    padding-top: 26px !important;
    padding-bottom: 26px !important;
    font-size: larger;
  }

  @media (max-width: 769px) {
    padding-bottom: 9px !important;
  }

  &__small {
    display: inline-block;

    @media (min-width: 768px) {
      padding-top: 26px !important;
      padding-bottom: 26px !important;
    }

    &:hover {
      color: theme-color(primary) !important;
      text-decoration: none;
    }

    &.active {
      color: theme-color(primary) !important;
    }
  }

  &.pb-0 {
    padding-bottom: 0 !important;
  }

  &:hover {
    color: theme-color(primary) !important;
    text-decoration: none;
  }

  &.active {
    border-bottom-style: solid !important;

    @media (max-width: 769px) {
      padding-bottom: 8px !important;
    }

    @media (min-width: 768px) {
      border-bottom-width: 2px !important;
      padding-bottom: 26px !important;
    }
  }

  &._hover_ {
    /*color: red !important;*/
  }
}




.nav__logo {

  width: 150px;
  height: 150px;

  @media (min-width: 768px) and (max-width: 993px) {
    width: 120px;
    height: 120px;
  }

  @media (min-width: 992px) {
      width: 200px;
      height: 200px;
  }

}

